<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Aritra. It uses Mapbox and DarkSky API</p>
            <img class="portrait" src="/img/bot.gif">
        </div>
         
        {{>footer}}
    </body>
</html>